<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;700;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">

</head>

<body>
  <header class="header bg-light-gray ">
    <div class=" container-fluid">
      <div class="row py-lg-4">
        <div class="col-12 d-flex  justify-content-between align-items-center px-lg-0 px-8">
          <ul class="header__nav  d-lg-flex d-none  justify-content-between align-items-center  w-100">
            <li class="nav__items"><a class="btn" href="javascript:void(0)" title="report">相關報導</a></li>
            <li class="nav__items"><a class="btn" href="javascript:void(0)" title="aboutUs">關於本宮</a></li>
            <li class="nav__items"><a class="btn" href="javascript:void(0)" title="news">最新公告</a></li>
            <li class="nav__items"><a class="btn" href="javascript:void(0)" title="fire">我要點燈</a></li>
          </ul>
          <h1 class="header__logo"><a href="#"><img src="assets/img/Logo-color.svg" alt="金剛宮logo"></a>
          </h1>
          <ul class="header__nav  d-lg-flex d-none  justify-content-between align-items-center  w-100">
            <li class="nav__items"><a class="btn" href="javascript:void(0)" title="introGod">神佛介紹</a></li>
            <li class="nav__items"><a class="btn" href="javascript:void(0)" title="openTime">交通資訊</a></li>
            <li class="nav__items"><a class="btn" href="javascript:void(0)" title="openTime">開放時間</a></li>
            <li class="nav__items"><a class="btn" href="javascript:void(0)" title="contact">聯絡我們</a></li>
          </ul>
          <button class="header__nav--hamburger border-0 pl-0 d-lg-none" type="button">
            <i class="fas fa-bars" id="header__nav--hamburger-icon"></i>
          </button>
          <!-- <button class="navbar-toggler border-0 pl-0 d-lg-none " type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars" id="header__nav--hamburger-icon"></i>
          </button> -->
        </div>
      </div>
      <div class=" col-md-12 col-12 d-lg-none d-flex justify-content-center">
        <ul class="header__nav header__nav--sm w-100 ">
          <li class="nav__items"><a class="btn" href="javascript:void(0)" title="report">相關報導</a></li>
          <li class="nav__items"><a class="btn" href="javascript:void(0)" title="aboutUs">關於本宮</a></li>
          <li class="nav__items"><a class="btn" href="javascript:void(0)" title="news">最新公告</a></li>
          <li class="nav__items"><a class="btn" href="javascript:void(0)" title="fire">我要點燈</a></li>
          <li class="nav__items"><a class="btn" href="javascript:void(0)" title="introGod">神佛介紹</a></li>
          <li class="nav__items"><a class="btn" href="javascript:void(0)" title="openTime">交通資訊</a></li>
          <li class="nav__items"><a class="btn" href="javascript:void(0)" title="openTime">開放時間</a></li>
          <li class="nav__items"><a class="btn" href="javascript:void(0)" title="contact">聯絡我們</a></li>
        </ul>
      </div>
    </div>
  </header>



  <%- contents %>

  <footer class="footer ">
    <div class="d-flex flex-wrap">
      <div data-aos="fade-up" class="footer__logoBox py-md-10 py-8 d-flex flex-column align-items-center bg-primary">
        <a href="#" class="mb-6"><img src="assets/img/Logo-white.svg" alt="金剛宮footer__logo"></a>
        <p class="section__txt mb-6 ">石門金剛宮</p>
        <p class="copy-right">&copy;金剛宮 All Rights Reserved</p>
      </div>
    </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>