<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;700;900&display=swap"
    rel="stylesheet">

</head>

<body>
  <header class="header bg-light-gray">
    <div class="container-fluid">
      <div class="row py-4 d-flex justify-content-between">
        <div class="col-md-1 col-2">
          <div class="d-flex  justify-content-center">
            <h1 class="header__logo"><a href="#"><img width="100px" src="assets/img/Logo-color.svg" alt="金剛宮logo"></a>
            </h1>
          </div>
        </div>
        <div class="col-lg-10 col-md-11 col-8 d-flex  justify-content-end align-items-center">
          <ul class="header__nav  d-md-flex d-none  justify-content-between align-items-center h-100 w-100">
            <li class="nav__items"><a class="btn" href="#home__report">相關報導</a></li>
            <li class="nav__items"><a class="btn" href="#home__aboutUs">關於本宮</a></li>
            <li class="nav__items"><a class="btn" href="#home__news">最新公告</a></li>
            <li class="nav__items"><a class="btn" href="#home__openTime">交通&開放時間</a></li>
            <li class="nav__items"><a class="btn" href="#">我要點燈</a></li>
            <li class="nav__items"><a class="btn" href="#home__introGod">神佛介紹</a></li>
            <li class="nav__items"><a class="btn" href="#home__contact">聯絡我們</a></li>
          </ul>
          <button class="navbar-toggler border-0 pl-0 d-md-none " type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars" id="header__nav--hamburger-icon"></i>
          </button>
        </div>


      </div>

      <div class=" col-md-12 col-12 d-md-none d-flex justify-content-center">
        <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
          <ul class="header__nav header__nav--sm ">
            <li class="nav__items"><a class="btn" href="#home__report">相關報導</a></li>
            <li class="nav__items"><a class="btn" href="#home__aboutUs">關於本宮</a></li>
            <li class="nav__items"><a class="btn" href="#home__news">最新公告</a></li>
            <li class="nav__items"><a class="btn" href="#home__openTime">交通&開放時間</a></li>
            <li class="nav__items"><a class="btn" href="#">我要點燈</a></li>
            <li class="nav__items"><a class="btn" href="#home__introGod">神佛介紹</a></li>
            <li class="nav__items"><a class="btn border-0" href="#home__contact">聯絡我們</a></li>
          </ul>
        </div>

      </div>
    </div>
    </div>
  </header>



  <%- contents %>

  <footer class="footer ">
    <div class="d-flex flex-wrap">
      <div class="footer__logoBox py-10 d-flex flex-column align-items-center bg-primary">
        <a href="#" class="mb-8"><img src="assets/img/JingKongKone-logo-row-black.svg" alt="金剛宮footer__logo"></a>
        <ul class="footer__infoList ">
          <li class="list__items mb-6">
            <p class="list__items__title mb-2">地址</p>
            <p class="list__items__txt">新北市石門區崁子腳路41之3號</p>
          </li>
          <li class="list__items mb-6">
            <p class="list__items__title mb-2">電話</p>
            <p class="list__items__txt">02 2638 2076</p>
          </li>
          <li class="list__items">
            <p class="list__items__title mb-2">開放時間</p>
            <p class="list__items__txt">每日早上 8 點 -下午 5 點</p>
          </li>
        </ul>
      </div>
      <div class="footer__navBox">
        <div class=" section__bg"></div>
        <div class="flex-fill bg-light-gray  py-md-10 py-4 px-8 d-flex flex-column justify-content-between">
          <ul class="footer__nav d-md-flex d-none justify-content-between">
            <li class="nav__items"><a href="#home__report" class="btn">相關報導</a></li>
            <li class="nav__items"><a href="#home__aboutUs" class="btn">關於本宮</a></li>
            <li class="nav__items"><a href="#home__news" class="btn">最新公告</a></li>
            <li class="nav__items"><a href="#home__openTime" class="btn">交通&開放時間</a></li>
            <li class="nav__items"><a href="#" class="btn">我要點燈</a></li>
            <li class="nav__items"><a href="#home__introGod" class="btn">神佛介紹</a></li>
            <li class="nav__items"><a href="#home__contact" class="btn">聯絡我們</a></li>
          </ul>
          <div class="d-flex justify-content-md-between justify-content-center ">
            <p class="copy-right">&copy;金剛宮 All Rights Reserved</p>
            <p class="d-md-block d-none">即刻追蹤了解更多<a href="#" class="ml-6"><img src="assets/img/Logo-fb-sm.png"
                  alt="fb logo">
              </a></p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </footer>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>

</html>