// *{
//     outline:red 1px solid;
// }
ul{
    margin: 0;
}
li{
    list-style: none;
}
p{
    margin: 0;
}
.top-0{
    top: 0;
}
.bottom-0{
    bottom: 0;
}
.section__bg{
    z-index: -1;
}
.bg--cover{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.text--column{
writing-mode: vertical-lr;
text-orientation: upright;
}
.section__title{
    font-size: 64px;
}
.header{
background: #000;
}
.header__logo{
    margin:auto 0;
    img{
        width: 60px;
    }
}
.header__nav{
    .nav__items{
        .btn{
            border-radius: 0px;
        }
        .btn:hover{
            border-bottom: 2px solid $primary;
        }
    }
}
.home__banner{
    &__box{
        background-image:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.3)),url(../img/banner-bg1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    
    }
    &__title,h5{
        color:white;
    }
}
.report__video__txtbox{
    z-index: 1;
    bottom: 0;
    // width: 100%;
    left: -15%;
    background-color: $light-gray;
}
.home__aboutUs{
    margin-bottom: 160px;
    .section__title,.section__subTxt{
        color:white;
    }
    .banner{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.3)),url(../img/banner-bg1.jpg);
    }
    .section__bg{
        height: 320px;
        bottom: -80px;
    }
    .aboutUs__imgBox{
        height: 800px;
    }
}
.h--half-space{
    height: calc(50% - 10px);
}
.w--half-space{
    width: calc(50% - 10px);
}
.imgBox__img--1{
    background-image: url(../img/banner-bg1.jpg);
}
.imgBox__img--2{
    background-image: url(../img/banner-bg1.jpg);
}
.imgBox__img--3{
    background-image: url(../img/banner-bg1.jpg);
}

.imgBox__img--4{
    background-image: url(../img/banner-bg1.jpg);
}

.imgBox__img--5{
    background-image: url(../img/banner-bg1.jpg);
}
.imgBox__img--6{
    background-image: url(../img/banner-bg1.jpg);
}
.imgBox__img--7{
    background-image: url(../img/banner-bg1.jpg);
}
.home__news{
    
    .newsList{
        // z-index: 22;

        padding: 48px;
        background-image: url(../img/flower.jpg);
        background-position: center center ;
        .news__items{
                padding: 16px;
                background-color: white;
                p{
                    margin-bottom: 0;
                }
                &:not(:last-child){
                    margin-bottom: 16px;
                }
        }
    }
    
}
.home__openTime{
    .section__pic{
        background-image: url(../img/openTime-img.png);
        width: 80%;
        margin: 0 auto ;
        height: 500px;
    }
    .home__googleMap{
        width: 100%;
        height: 400px;
    }
    .banner{
        // background-color: $primary;
        background-image: url(../img/paper-bg.jpg);
        height: 400px;
        width: 100%;
        bottom: -32px;
        left: 0;
        z-index: -1;
    }
}
.ticket{
    height: 480px;
    position: relative;
    width: 180px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    &__color{
        height: 20px;
        background-color: $logo-red;
    }
    &__content{
        flex-grow: 1;
        .side-box{
            width: 20px;
        }
        &__txtBox{
            width: 100%;
            border-right: 1px solid #000;
            border-left: 1px solid #000;
            padding: 48px 0 48px 60px ;
        }
        &__title{
            text-align: center;
            font-weight: bold;
            margin-bottom: 16px;
            writing-mode: vertical-lr;
            text-orientation: upright;
            // margin-right: 0 !important;
        }
        &__txt{
            text-align: center;
            writing-mode: vertical-lr;
            text-orientation: upright;
            // margin-right: 0 !important;
        }
    }
    
}

.ticket::before{
content:'';
width: 120px;
height: 320px;
background-image: url(../img/flower-yellow.png);
position: absolute;
top: -12%;
right: -16%;
z-index: -1;
}