//header
.header{
    z-index: 150;
    background: #000;
    box-shadow:0;
    padding: 48px 0;
    position: fixed;
    width: 100%;
    top: 0;
    transition: all 0.2s ease;

}

.header__logo{
    margin:auto 0;
    img{
        width: 60px;
    }
}

.header__nav{
    margin: 0 50px;
    border-bottom: 1px solid #cccccc;
    .nav__items{
        .btn{
            border-radius: 0px;
            height: 44px;
        }
        .btn:hover{
            border-bottom: 2px solid $primary;
        }
        .btn:focus{
            box-shadow:none;   // 去掉bs4預設陰影
        }
    }
}
.header__nav--sm{
    padding-top: 24px;
    .nav__items{
        margin-bottom: 12px;
        .btn{
            width: 100%;
            padding-bottom: 12px;
        }
        .btn:hover{
            color: $primary;
        }
    }
    .nav__items:not(:last-child){
        border-bottom: 1px solid #cccccc;
    }
    
}
.header__nav--hamburger{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 992px) {
    .header{
        padding: 12px 0;
    }
    .header__logo{
        img{
            width: 40px;
        } 
    }
    .header__nav--sm{margin: 0;}
}
//header fixed
.header.stickey{
    transition: all 0.3s ease;
    padding: 8px 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    .header__nav{
        border: 0 ;
    }
}



//footer

.footer__infoList{
    padding: 0;
    .list__items__title{
        text-align: center;
        font-weight: bold;
    }
    .list__items__txt{
        text-align: center;
    }
}
.footer__navBox{
    width: 60%;
    display: flex;
    flex-direction: column;
    .section__bg{
        height: 120px;
        width: 100%;
        background:url(../img/bg-line.png);
    }
}
.footer__logoBox{
    width: 100%;
    .section__txt{
        letter-spacing: 12px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        color:white;
    }
    .copy-right{
        color:white;
    }
}
@media (max-width: 767px) {
    .footer__logoBox{
        width: 100%;
    }
}