//首頁大banner
.home__banner{
    padding-top: 200px;
    .section__bg{
        top: -30%;
        height: 80%;
    }
    &__box{
        // background-image:  linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)),url(../img/mainGod.JPG);
        background-image:  url(../img/mainGod.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 50px;
        height: 100vh;
        @media (max-width: 767px) { 
            height: 60vh;
         }
    }
    .home__banner__arrow{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color:rgba(255,255,255,0.36);
        border-radius: 50%;
        bottom: 40%;
        .fa-arrow-down{
            color:white;
        }
    }
    .section__subTitle{
        position: relative;
        &::before{
            content: '';
            border-right: 1px solid #cccccc;
            height: 180px;
            position: absolute;
            top: -200px;
            left: 50%;
            transform: translateX(50%);
        }
    }
    .section__title,.section__txt{
        color:white;
    }
    @media (max-width: 992px) {
        padding-top: 80px;
        &__box{
            margin: 15px;
        }
        .section__subTitle{
            &::before{
                height: 120px;
                top: -120px;
            }
        }
    }
}

.home__report{
    position: relative;
    .section__bg{
        width: 100%;
        height: 64px;
        left: 0;
        position: absolute;
        bottom: -40px;
    }
    .report__video__txtbox{
        padding:24px;
        background-color: $white;
        // border:1px solid $light-gray;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        bottom: 24px;
        right: 24px;
        left: -48px;
        .txtbox__title{
            font-size: 24px;
            font-weight: bold;
            align-self: start;
        }
    }
    .youtube{
        width: 100%;
        height: 360px;
        border-radius: 8px;
    }
    .section__bgCover{
        height: 180px;
        width: 80px;
        border-radius: 8px 0px 0px 0px;
        background-color: $white;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .section__bgCover__coner{
        position: absolute;
        background-image: url(../img/半透明圓角.png);
        background-size: cover;
        background-repeat: no-repeat;
        
        width: 8px;
        height: 8px;
    } 
    .bgCover__coner--1{
        top:-8px;
        right: 15px;
    }
    .bgCover__coner--2{
        bottom:6px;
        left:-8px;
    }
    @media (max-width: 767px) {
        .report__video__txtbox{
        position: relative;
        left: 0;
        padding: 16px 0px 0px 0px;
    }
    .section__title,.section__subTxt{
        text-align: center;
    }
    .youtube{
        height: 240px;
        margin-bottom: 24px;
    }
    }
}

//首頁關於我
.home__aboutUs{
    margin-bottom: 198px;
    .section__title,.section__subTxt{
        position: relative;
        color:white;
    }
    .banner{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.3)),url(../img/aboutUs-bg.png);
    }
    .section__bg{
        width: 100%;
        height: 400px;
        bottom: -80px;
        right: 0;
        background-image: url(../img/paper-gray.jpg);
    }
    .aboutUs__imgBox{
        height: 800px;
        @media (max-width: 767px) {
            height: 600px;
        }  
    }
    .section__subTitle{
        writing-mode: vertical-lr;
        text-orientation: upright;
        @media (max-width: 767px) {
            writing-mode: horizontal-tb;
        text-orientation: upright;
        }    
            
    }
    .section__subTitle::after{
        content: '';
        width: 2px;
        height: 60%;
        background-color: $dark;
        position: absolute;
        top: 320px;
        left: 50%;
        @media (max-width: 767px) {
            width: 80%;
            height: 2px;
            top: 16px;
            left: 100%;
        }  
    }
    
    .imgBox__img--1{
        background-image: url(../img/aboutUs/aboutImg-3.jpg);
    }
    .imgBox__img--2{
        background-image: url(../img/aboutUs/aboutImg-2.jpg);
    }
    .imgBox__img--3{
        background-image: url(../img/aboutUs/aboutImg-1.jpg);
    }
    
    .imgBox__img--4{
        background-image: url(../img/aboutUs/aboutImg-7.jpg);
    }
    
    .imgBox__img--5{
        background-image: url(../img/aboutUs/aboutImg-6.jpg);
    }
    .imgBox__img--6{
        background-image: url(../img/aboutUs/aboutImg-4.jpg);
    }
    .imgBox__img--7{
        background-image: url(../img/aboutUs/aboutImg-8.jpg);
    }
    
}

//首頁最新消息
.home__news{
    .newsList{
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding: 48px;
        .news__items{
            width: 100%;
            background-color: white;
            margin-bottom: 24px;
            p{
                margin-bottom: 0;
            }
            
        }
        
    }
    .section__btn{
        text-decoration: none;
        font-size: 16px;
        border: 1px solid $gray-300;
        color:$dark;
        &:hover{
            color:$primary;
            border: 1px solid $primary;
        }
    }
}
//首頁開放時間
.home__openTime{
    margin-bottom: 216px;
    @media (max-width: 767px) {
        margin-bottom: 96px;
    }
    .section__pic{
        width: 80%;
        margin: 0 auto ;
        height: 500px;
        @media (max-width: 767px) {
        width: 100%;
        height: 240px;
        }
    }
    .section__contentBox{
        padding: 64px 48px;
        background-image: url(../img/paper-gray.jpg);
        border-radius: 8px;
        @media (max-width: 1200px) {
            padding: 32px 160px 32px 32px;
            }
        @media (max-width: 992px) {
                padding: 48px;
            }
        .list__items{
            display: flex;
            .subTxt{
                position: relative;
                border-left: 1px solid $dark;
                padding-left: 12px;
                margin-left: 12px;
            }
        }
        .list__items__title{
            font-weight: bold;
            margin-right: 24px;
        }
    }
    .home__googleMapBox{
        position: absolute;
        top: 108px;
        right: 0;
    }
    .home__googleMap{
        border-radius: 8px;
        width: 100%;
        height: 360px;
    }
    @media (max-width:992px){
        .home__googleMapBox{
            position: relative;
            height: 360px;
        top: 32px;
        }
    }
    @media (max-width: 767px) {
        .section__contentBox{
            padding: 36px 16px;
            margin-bottom: 24px;
        }
        .section__pic{
                width: 100%;
            height: 240px;
        }
    }
}
//首頁神佛介紹
.home__introGod{
    margin-bottom: 136px;
    @media (max-width: 992px) {
        margin-bottom: 240px;
    }
    @media (max-width: 767px) {
        margin-bottom: 136px;
    }
}
.home__introGod__txtBox{
    position: absolute;
    }
@media (max-width: 767px) {
    .home__introGod__txtBox{
        position: relative;
    text-align: center;
    margin-bottom: 48px;
    }
}
.home__introGod__godListBox{
    width: 50%;
}
@media (max-width: 992px) {
    .home__introGod__godListBox{
        width: 45%;
    }
}
@media (max-width: 767px) {
    .home__introGod__godListBox{
        padding-left: 48px;
        width: 100%;
    }
}
.home__introGod{
    .section__subTitle{
        font-size: 40px;
        color:#C49B10;
        bottom: 0;
        left: 48px;
        transform: translateY(75%);
        @media (max-width: 992px) {
            font-size: 33px;
        }
    }
    .section__bg{
        height: 360px;
        width: 56%;
        bottom: 0px;
        z-index: -1;
        right:0;
        border-radius: 8px 0px 0px 8px;
        @media (max-width: 767px) {
            width: 80%;
            // right:50%;
            // transform: translateX(50%);
        }
    }
}
.godList{
    .list__items{
        height: 480px;
        border-radius: 8px;
        @media (max-width: 992px) {
            height: 360px;
        }
        @media (max-width: 767px) {
        height: 320px;
        }
        transition: all 0.3s ease;
        .list__contentBox{
            border-radius: 8px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 24px;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)) 
        }
        .list__title{
            font-size: 24px;
            color:white;
            font-weight: bold;
            writing-mode: vertical-lr;
            text-orientation: upright;
            
        }
        .list__btn{
            color:white;
            width: 100%;
            border-radius: 0;
        }
        .list__btn:hover{
            border-bottom: 2px solid white;
        }
    }
    }
    #homeGodList-img-1{
        background-image: url(../img/godListImg/god-3.jpg);
    }
    #homeGodList-img-2{
        background-image: url(../img/godListImg/god-2.jpg);
    }
    #homeGodList-img-3{
        background-image: url(../img/godListImg/god-1.jpg);
    }
    #homeGodList-img-4{
        background-image: url(../img/godListImg/god-4.jpg);
    }
    #homeGodList-img-5{
        background-image: url(../img/godListImg/god-3.jpg);
    }
    #homeGodList-img-6{
        background-image: url(../img/godListImg/god-2.jpg);
    }
    .list__items:hover{
        .list__contentBox{
            background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)) 
        }
        .list__btn{
            border-bottom: 2px solid white;
        }
    }

@media (max-width: 767px) {
        .home__introGod{
            .banner{
                width: 100%;
                right: 0;
                left: 0;
            }
        }
}
.home__fire{
        margin-bottom: 228px;
        @media (max-width: 992px) {
            margin-bottom: 156px;
             }
        @media (max-width: 767px) {
            margin-bottom: 96px;
         }
        .section__txtBox{
            position: absolute;
            bottom: 0;
            .section__title,.section__subTxt{
                text-align: right;
            }
            @media (max-width: 767px) {
               position: relative;
               .section__title,.section__subTxt{
                text-align: center;
            }
            }
        }
        
        .section__content__txtBox{
            width: 50%;
            padding: 80px 120px;
            border-radius: 0px 8px 8px 0px ;
            background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)),url(../img/fire.jpg);
            p{
                color:white;
            }      
        } 
        @media (max-width: 992px) {
            .section__content__txtBox{
                padding: 36px 32px;
            }
        }
        @media (max-width: 767px) {
            .section__content__txtBox{
                width: 80%;
                margin:0 15px;
                padding: 64px 32px;
                border-radius: 8px;
        }
    }
    .section__bg{
        border-radius: 0px 8px 8px 0px ;
        position: absolute;
        height: 100%;
        width: 56%;
        bottom: -120px;
        @media (max-width: 992px) {
            bottom: -48px;
        }
        @media (max-width: 767px) {
            width: 64%;
           height: 50%;
           border-radius: 8px;
         }
    }
}
.sectionConcept{
    .sction--bg{
        width: 100%;
        height: 100%;
        background:url(../img/bg-line.png);
    }
    height: 320px;
    background-color: #fff;
    .section__subTitle{
        position: relative;
        color:#CCCCCC;
        &::after{
            content: '';
            position: absolute;
            height: 8px;
            background-color: #cccccc;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }
    @media (max-width: 767px) {
        height: 240px;
        .section__subTitle::after{
            height: 4px;
        }
    }
}
.home__contact{   
       padding-bottom: 160px;
        .ticket::before{
            top:48%;
        }
        input,textarea{
            border: 1px solid $gray-300;
        }
}

    
@media (max-width: 767px) {
        .home__contact{   
            .ticket::before{
            width: 80px;
            right: -12%;
            top:-12%;
            }
        }
 }